.container{
    margin: 0;
    padding: 0;
    height:  50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2bc4f7 ;
}
.container img{
    width: 100%;
    height:50vh;
}